# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =========================================
# PYTHON
# =========================================

__pycache__/
*.py[cod]
*$py.class


# =========================================
# VIRTUAL ENVIRONMENTS
# =========================================

venv/
.env/
.venv/
env/


# =========================================
# ENVIRONMENT VARIABLES
# =========================================

.env


# =========================================
# FASTAPI / UVICORN
# =========================================

*.log


# =========================================
# DATABASE
# =========================================

*.db
*.sqlite3


# =========================================
# UPLOADED FILES
# =========================================

app/uploads/pdfs/*

# Keep folder structure
!app/uploads/pdfs/.gitkeep


# =========================================
# VECTOR CACHE / ML FILES
# =========================================

*.pt
*.pth
*.bin
*.onnx
*.ckpt


# =========================================
# JUPYTER
# =========================================

.ipynb_checkpoints/


# =========================================
# TESTING
# =========================================

.pytest_cache/
.coverage
htmlcov/


# =========================================
# TYPE CHECKERS
# =========================================

.mypy_cache/
.pyre/
.ruff_cache/


# =========================================
# IDE / EDITOR
# =========================================

.vscode/
.idea/


# =========================================
# OS FILES
# =========================================

.DS_Store
Thumbs.db


# =========================================
# BUILD FILES
# =========================================

build/
dist/
*.egg-info/


# =========================================
# ALEMBIC (future migrations)
# =========================================

alembic/versions/*.pyc

backend/app/uploads/pdfs/*
